.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 25px;
    background-color: #f5f5f5;
    color: #2e2e2e;
    padding-left: 16px;
    padding-right: 16px;
}

img.footer-logo {
    opacity: 0.1;
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 0;
}

mat-divider {
    margin-left: -16px;
    margin-right: -16px;
}

.footer p {
    margin: 8px 0;
}