<mat-toolbar [class]="showAsDark() ? 'toolbar-dark' : ''">
  <mat-toolbar-row>
    <span class="fill-remaining-space"></span>
    <button mat-button routerLink="" matTooltip="Home" matTooltipPosition="right">
      <img [src]="showAsDark() ? 'assets/img/branding/white.png' : 'assets/img/branding/dark.png'" class='logo mx-auto'>
    </button>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="fill-remaining-space"></span>
    <button mat-button routerLink="apps">APPS</button>
    <button mat-button routerLink="projects">PROJECTS</button>
    <button mat-button routerLink="contact">CONTACT</button>
    <button *ngIf="router.url.startsWith('/plex')" mat-button routerLink="plex">PLEX</button>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider *ngIf="!showAsDark()"></mat-divider>
