<h1>Projects.</h1>
<p>These are software projects that I have worked on over the years.</p>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <img class="title-img" src="../../assets/img/projects/passageway.png">
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Firebase
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'python']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Python
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Polymer
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Passageway is an attempt to provide a cost-effective, scalable, and automated method of aggregating foot traffic data within
        a facility. Such data aggregation offers meaningful statistics about the foot traffic of individuals within a defined
        space. With Passageway, users are able to see heat maps and view graphs that represent the foot traffic in a building,
        and analyze it on a website with various building floor-plans layered onto a Google Map. Users may also specify a
        certain time frame to see specific temporal data. All of the data is collected within the facilities through a system
        including CHIP computers connected to a pair of Infrared break beams. Ultimately, the data may be used to determine
        the frequency of activity for specific rooms, hallways, or entryways. Foot traffic data may be useful for understanding
        activity within a facility, seeing popularity of certain areas during specific times, or identifying times where
        room capacity is exceeded and thus presents a fire code violation. This was also published in the Consortium for
        Computing Sciences in Colleges academic journal.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/passageway" target="_blank">
          <button mat-button>GitHub</button>
        </a>
        <a href="https://dl.acm.org/citation.cfm?id=3007244" target="_blank">
          <button mat-button>Publication</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <img class="title-img" [src]="theme.isLight() ? '../../assets/img/projects/ciner8.png' : '../../assets/img/projects/ciner8Light.png'">
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fab', 'ember']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Ember
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Firebase
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'html5']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;HTML
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'js']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Javascript
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'css3-alt']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;CSS
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        CineR8 (Pronounced Cine [like in Cinema]-Rate) is an easy-to-use and very cleanly designed movie rating web application.
        The design tries to follow Google's Material Design guidelines as best as possible, which makes it look as clean
        as it does. There are no advertisements or obnoxious elements that hamper the user experience for what should be
        a simple web application. The Web app is built using Ember.js, a very robust Javascript framework. All of the movie
        information is pulled from TheMovieDB via their API. Movie ratings from 3rd party services are pulled from the OMDb
        API. User authentication and ratings are stored using Google's Firebase real-time database. The only personal information
        stored is the user's email, of which is not visible to others and is not shared by CineR8 anywhere. I know that there
        are bigger and arguably better services that do the same thing as CineR8. My motivation behind creating this web
        application was mainly to learn Ember.js, but I also wanted something simpler than the well-known services. I think
        that I acheived both goals and look forward to what this project will become over time.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://ciner8.com" target="_blank">
           <button mat-button>Website</button>
        </a>
        <a href="https://github.com/jaxonwright/ciner8" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>
            <img class="title-img" [src]="theme.isLight() ? '../../assets/img/branding/dark.png' : '../../assets/img/branding/white.png'">&nbsp;jaxonwright.com</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fab', 'angular']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Angular
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;TypeScript
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'html5']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;HTML
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'css3-alt']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;CSS
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        This is the website that you are currently on. This is my personal website.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/JaxonWright/jaxonwright.com-ng" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>PrEx</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Windows
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Delphi
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        A simple process explorer application that can browse, kill and run Windows Processes. Made to get used to the Delphi programming
        language.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/JaxonWright/PrEx-Delphi" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>The Best Calculator Ever</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Windows
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Delphi
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        A simple calculator Windows application created in Delphi. Mainly just to get familiar with the language
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/JaxonWright/calculator-delphi" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <img class="title-img" [src]="theme.isLight() ? '../../assets/img/projects/eli5.png' : '../../assets/img/projects/eli5White.png'">
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        This project was created for CIS 365 Artificial Intelligence at Grand Valley State University. The project scrapes posts
        on the /r/eli5 (Explain Like I'm Five) subreddit on Reddit. The goal is to take the user's query and determine the
        reading level of the highest-rated comments and presents it to the user, so that they can make informed decisions
        about threads based on how easy the explanations are to understand. It was made in Java and just uses a simple command-line
        interface.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/jaxonwright/eli5" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="tallyup-header-image"></div>
        <mat-card-title>
          <h4>TallyUp (Beta)</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'dollar-sign']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Free
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Firebase
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        TallyUp is a simple tool to create polls to settle anything you can think of. One example would be a group of employees or
        friends deciding on where to eat for lunch. Somebody would create a room that expires after a set amount of time,
        and shares a code/link with the others. They all vote on locations to eat and maybe even get access to navigate to
        the winner on Google Maps. That is one example, but there are a multitude of other use-cases that may get special
        features.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://play.google.com/store/apps/details?id=com.dunrite.tallyup" target="_blank">
          <button mat-button>Download</button>
        </a>
        <a href="https://github.com/dunrite/tallyup" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="pixbar-header-image"></div>
        <mat-card-title>
          <h4>Pixbar</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'dollar-sign']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;0.99
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Pixbar modifies your device's navigation bar to have solid buttons. This is meant to resemble a certain device that has an
        exclusive on these kinds of buttons. Currently, Pixbar is meant for phones with stock Lollipop and above. This works
        without any root permissions needed, as well!
      </mat-card-content>
      <mat-card-actions>
        <a href="https://play.google.com/store/apps/details?id=com.dunrite.pixbar" target="_blank">
          <button mat-button>Download</button>
        </a>
        <a href="https://github.com/dunrite/picbar" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="xpaper-header-image"></div>
        <mat-card-title>
          <h4>Xpaper</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'dollar-sign']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Free
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Specifically designed for all Moto X models, Xpaper provides a collection of simple, abstract wallpapers that you can customize
        to perfectly match your device's configuration. Even if you do not have a Moto X, you are still welcome to play with
        the app to get some clean wallpapers for your non-moto.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://play.google.com/store/apps/details?id=com.dunrite.xpaper" target="_blank">
          <button mat-button>Download</button>
        </a>
        <a href="https://github.com/dunrite/xpaper" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="nowpaper-header-image"></div>
        <mat-card-title>
          <h4>nowPaper</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'dollar-sign']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;0.99
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        A unique, colorful new wallpaper app that provides your phone's homescreen with just the right touch of personality and feel.
        Choose between various landmarks and locations set in the iconic art-style of Google Now.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://play.google.com/store/apps/details?id=com.dunrite.now" target="_blank">
          <button mat-button>Download</button>
        </a>
        <a href="https://github.com/dunrite/nowpaper" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
