<h1>Contact.</h1>
<p>Here are various platforms you can contact me on or see my work.</p>
<p>If you are interested in having me develop something for you independently, do not hesitate to reach out.</p>
<a href="mailto:jaxonhwright@gmail.com"><button mat-fab matTooltip="Email" matTooltipPosition="below"><i class="fas fa-envelope fa-lg"></i></button></a>
<a href="https://github.com/jaxonwright" target="_blank"><button mat-fab matTooltip="GitHub" matTooltipPosition="below"><i class="fab fa-github fa-lg"></i></button></a>
<a href="http://linkedin.com/in/jaxonwright" target="_blank"><button mat-fab matTooltip="LinkedIn" matTooltipPosition="below"><i class="fab fa-linkedin fa-lg"></i></button></a>
<a href="https://www.reddit.com/user/jxn_w/" target="_blank"><button mat-fab matTooltip="Reddit" matTooltipPosition="below"><i class="fab fa-reddit fa-lg"></i></button></a>
<a href="https://twitter.com/jxn_w" target="_blank"><button mat-fab matTooltip="Twitter" matTooltipPosition="below"><i class="fab fa-twitter fa-lg"></i></button></a>
<a href="https://instagram.com/jxn.w" target="_blank"><button mat-fab matTooltip="Instagram" matTooltipPosition="below"><i class="fab fa-instagram fa-lg"></i></button></a>
<a href="https://medium.com/@jxn.w" target="_blank"><button mat-fab matTooltip="Medium" matTooltipPosition="below"><i class="fab fa-medium-m fa-lg"></i></button></a>
<br><br>
<h1>Pay.</h1>
<p>Here are various platforms and technologies you can pay me on. Thanks for the dough!</p>
<a href="https://venmo.com/jaxonwright" target="_blank"><button mat-fab matTooltip="Venmo" matTooltipPosition="below">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" class="svg-inline--fa fa-w-12 fa-lg">
   <path class="st0" d="M136.8,14.9c4.8,8,7,16.2,7,26.6c0,33.2-28.3,76.2-51.3,106.5H40L19,22.1l46-4.4l11.1,89.6
       c10.4-16.9,23.2-43.6,23.2-61.7c0-9.9-1.7-16.7-4.4-22.3L136.8,14.9z"/>
</svg>
</button></a>
<a href="https://cash.me/$jxnw" target="_blank"><button mat-fab matTooltip="Cash App" matTooltipPosition="below"><i class="fas fa-dollar-sign fa-lg"></i></button></a>
<a href="https://paypal.me/JaxonWright" target="_blank"><button mat-fab matTooltip="PayPal" matTooltipPosition="below"><i class="fab fa-paypal fa-lg"></i></button></a>
<button mat-fab matTooltip="Bitcoin" matTooltipPosition="below" (click)="openDialog(Crypto.BTC_WALLET)"><i class="fab fa-bitcoin fa-lg"></i></button>
<button mat-fab matTooltip="Bitcoin Cash" matTooltipPosition="below" (click)="openDialog(Crypto.BCH_WALLET)"><i class="fab fa-btc fa-lg"></i></button>
<button mat-fab matTooltip="Etherium" matTooltipPosition="below" (click)="openDialog(Crypto.ETH_WALLET)"><i class="fab fa-ethereum fa-lg"></i></button>