<h1>Contact.</h1>
<p>Here are various platforms you can contact me on or see my work.</p>
<a href="mailto:jaxonhwright@gmail.com"><button mat-fab matTooltip="Email" matTooltipPosition="below"><i class="fas fa-envelope fa-lg"></i></button></a>
<a href="https://github.com/jaxonwright" target="_blank"><button mat-fab matTooltip="GitHub" matTooltipPosition="below"><i class="fab fa-github fa-lg"></i></button></a>
<a href="http://linkedin.com/in/jaxonwright" target="_blank"><button mat-fab matTooltip="LinkedIn" matTooltipPosition="below"><i class="fab fa-linkedin fa-lg"></i></button></a>
<a href="https://www.reddit.com/user/jxn_w/" target="_blank"><button mat-fab matTooltip="Reddit" matTooltipPosition="below"><i class="fab fa-reddit fa-lg"></i></button></a>
<a href="https://twitter.com/jxn_w" target="_blank"><button mat-fab matTooltip="Twitter" matTooltipPosition="below"><i class="fab fa-twitter fa-lg"></i></button></a>
<a href="https://instagram.com/jxn.w" target="_blank"><button mat-fab matTooltip="Instagram" matTooltipPosition="below"><i class="fab fa-instagram fa-lg"></i></button></a>
<a href="https://medium.com/@jxn.w" target="_blank"><button mat-fab matTooltip="Medium" matTooltipPosition="below"><i class="fab fa-medium-m fa-lg"></i></button></a>
