<ng-container *ngIf="walletID == Crypto.BTC_WALLET">
  <h1>Pay With Bitcoin</h1>
  <!-- <ngx-qrcode class="text-center" qrc-value="bitcoin:{{walletID}}" qrc-class="qr" qrc-element-type="url"> -->
  <!-- </ngx-qrcode> -->
</ng-container>
<ng-container *ngIf="walletID == Crypto.BCH_WALLET">
  <h1>Pay With Bitcoin Cash</h1>
  <!-- <ngx-qrcode class="text-center" qrc-value="bitcoincash:{{walletID}}" qrc-class="qr" qrc-element-type="url"> -->
  <!-- </ngx-qrcode> -->
</ng-container>
<ng-container *ngIf="walletID == Crypto.ETH_WALLET">
  <h1>Pay With Etherium</h1>
  <!-- <ngx-qrcode class="text-center" qrc-value="etherium:{{walletID}}" qrc-class="qr" qrc-element-type="url"> -->
  <!-- </ngx-qrcode> -->
</ng-container>
<mat-form-field class="w-100">
  <input matInput #walletInput placeholder="Wallet Address" [value]="walletID" readonly>
</mat-form-field>
<div class="text-right">
<button mat-button (click)="copyWalletID(walletInput)"><fa-icon [icon]="['fas', 'clipboard']"></fa-icon> Copy</button>
<button mat-button (click)="onNoClick()"><fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel</button>
</div>