<h1 mat-dialog-title *ngIf="walletID == Crypto.BTC_WALLET">Pay With Bitcoin</h1>
<h1 mat-dialog-title *ngIf="walletID == Crypto.ETH_WALLET">Pay With Etherium</h1>
<mat-dialog-content>
  <qrcode class="text-center" [qrdata]="walletID" [width]="250" [margin]="2" [scale]="1" elementType="svg">
  </qrcode>
  <mat-form-field appearance="outline" class="w-100" style="margin-top: 16px">
    <mat-label>Wallet Address</mat-label>
    <input matInput #walletInput [value]="walletID" readonly>
    <button matSuffix mat-icon-button (click)="copyWalletID(walletInput)">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">
      Cancel
    </button>
</mat-dialog-actions>