img.logo {
    width: auto;
    height: 24px;
    vertical-align: middle;
}

mat-toolbar-row {
    height: 50px;
}

.theme-button {
    position: absolute;
    right: 16px;
    top: 8px;
    min-width: 0px;
}

a:hover {
    text-decoration: none;
}

