<mat-toolbar >
  <mat-toolbar-row>
    <span class="fill-remaining-space"></span>
    <a mat-button routerLink="">
      <img [src]="theme.isDark() || theme.isBlack() ? 'assets/img/branding/white.png' : 'assets/img/branding/dark.png'" class='logo mx-auto'>
    </a>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button class="theme-button" matTooltip="Switch Theme"
      [matMenuTriggerFor]="menu" matTooltipPosition="below" matTooltipClass="mat-tooltip-multi">
      <mat-icon *ngIf="theme.isLight()">brightness_5</mat-icon>
      <mat-icon *ngIf="theme.isDark()">dark_mode</mat-icon>
      <mat-icon *ngIf="theme.isBlack()">nights_stay</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="app.setTheme(ThemeType.Light)">
        <mat-icon>brightness_5</mat-icon>
        <span>Light</span>
      </button>
      <button mat-menu-item (click)="app.setTheme(ThemeType.Dark)">
        <mat-icon>dark_mode</mat-icon>
        <span>Dark</span>
      </button>
      <button mat-menu-item (click)="app.setTheme(ThemeType.Black)">
        <mat-icon>nights_stay</mat-icon>
        <span>Night</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="fill-remaining-space"></span>
    <a mat-button routerLink="" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }">About</a>
    <a mat-button routerLink="projects" routerLinkActive="link-active">Projects</a>
    <a mat-button routerLink="contact" routerLinkActive="link-active">Contact</a>
    <a *ngIf="router.url.startsWith('/plex')" mat-button routerLink="plex" routerLinkActive="link-active">Plex</a>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
</mat-toolbar>
