<h1>Plex.</h1>
<p>This is the hub for everything pertaining to the Ultron Plex Server.</p>
<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Ultron Plex Requests</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Request movies and TV shows that the server will automatically look for and download.
      </mat-card-content>
      <mat-card-actions>
        <a href="http://ultron.jaxonwright.com/request"><button mat-button>OPEN</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Ultron Plex Server</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Watch and enjoy over 900 movies and 50 TV shows.
      </mat-card-content>
      <mat-card-actions>
        <a href="http://ultron.jaxonwright.com/server" target="_blank"><button mat-button>OPEN</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>CineR8</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Service created by yours truly to view information about and rate movies.
        </mat-card-content>
        <mat-card-actions>
          <a href="https://ciner8.com" target="_blank"><button mat-button>OPEN</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
