<h1>Apps.</h1>
<p>Here are mobile apps that I have developed over the years.</p>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="tallyup-header-image"></div>
        <mat-card-title>
          <h4>TallyUp (Beta)</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'dollar-sign']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Free
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        TallyUp is a simple tool to create polls to settle anything you can think of. One example would be a group of employees or
        friends deciding on where to eat for lunch. Somebody would create a room that expires after a set amount of time,
        and shares a code/link with the others. They all vote on locations to eat and maybe even get access to navigate to
        the winner on Google Maps. That is one example, but there are a multitude of other use-cases that may get special
        features.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://play.google.com/store/apps/details?id=com.dunrite.tallyup" target="_blank">
          <button mat-button>Download</button>
        </a>
        <a href="https://github.com/dunrite/tallyup" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="pixbar-header-image"></div>
        <mat-card-title>
          <h4>Pixbar</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'dollar-sign']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;0.99
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Pixbar modifies your device's navigation bar to have solid buttons. This is meant to resemble a certain device that has an
        exclusive on these kinds of buttons. Currently, Pixbar is meant for phones with stock Lollipop and above. This works
        without any root permissions needed, as well!
      </mat-card-content>
      <mat-card-actions>
        <a href="https://play.google.com/store/apps/details?id=com.dunrite.pixbar" target="_blank">
          <button mat-button>Download</button>
        </a>
        <a href="https://github.com/dunrite/picbar" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="xpaper-header-image"></div>
        <mat-card-title>
          <h4>Xpaper</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'dollar-sign']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Free
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Specifically designed for all Moto X models, Xpaper provides a collection of simple, abstract wallpapers that you can customize
        to perfectly match your device's configuration. Even if you do not have a Moto X, you are still welcome to play with
        the app to get some clean wallpapers for your non-moto.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://play.google.com/store/apps/details?id=com.dunrite.xpaper" target="_blank">
          <button mat-button>Download</button>
        </a>
        <a href="https://github.com/dunrite/xpaper" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="nowpaper-header-image"></div>
        <mat-card-title>
          <h4>nowPaper</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <fa-icon [icon]="['fas', 'dollar-sign']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;0.99
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Android
            </mat-chip>
            <mat-chip>
              <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
              &nbsp;Java
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        A unique, colorful new wallpaper app that provides your phone's homescreen with just the right touch of personality and feel.
        Choose between various landmarks and locations set in the iconic art-style of Google Now.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://play.google.com/store/apps/details?id=com.dunrite.now" target="_blank">
          <button mat-button>Download</button>
        </a>
        <a href="https://github.com/dunrite/nowpaper" target="_blank">
          <button mat-button>GitHub</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
