h2 {
    margin-top: 12px;
}

h4 {
    margin-top: 8px;
}

.mat-mdc-card-avatar {
    height: 70px;
    width: 70px;
}

.gvsu-header-image {
    background-image: url('../../../assets/img/resume/GVSU.jpg');
    background-size: cover;
}

.volgistics-header-image {
    background-image: url('../../../assets/img/resume/volgistics.png');
    background-size: cover;
}

.configura-header-image {
    background-image: url('../../../assets/img/resume/configura.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.headshot {
    background-image: url('https://avatars1.githubusercontent.com/u/14099593');
    background-size: cover;
    height: 145px;
    width: 145px;
    margin-right: auto;
    margin-left: auto;
}

.about-me-card-header {
   display: flex;
   flex-direction: row; 
}

.about-me-desc {
  display: flex;
  align-self: center;  
}

.mat-mdc-card-subtitle  {
    padding-top: 4px !important;
}