img.resume-logo {
    height: 70px;
    width: auto;
}

img.headshot {
    height: 200px;
    clip-path: circle(100px at center);
    width: auto;
}

h2 {
    margin-top: 12px;
}

h4 {
    margin-top: 8px;
}

.mat-card-avatar {
    height: 70px;
    width: 70px;
}
.gvsu-header-image {
    background-image: url('../../../assets/img/resume/GVSU.jpg');
    background-size: cover;
}
.volgistics-header-image {
    background-image: url('../../../assets/img/resume/volgistics.png');
    background-size: cover;
}
.configura-header-image {
    background-image: url('../../../assets/img/resume/configura.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.dunrite-header-image {
    background-image: url('../../../assets/img/dunrite/d.png');
    background-size: cover;
}
.headshot {
    background-image: url('https://avatars1.githubusercontent.com/u/14099593');
    background-size: cover;
    height: 145px;
    width: 145px;
}

.now-playing-card {
    background: #1a1a1a;
    color: #1a1a1a;
    overflow: hidden;
}

.now-playing-card > mat-card-content > last-fm-scrobbles {
    margin-top: -12px;
    margin-right: -61px;
}
