<h1>{{getTimeGreeting()}}. My name is Jaxon.</h1>
<div class="row">
  <mat-card appearance="outlined">
    <mat-card-header class="about-me-card-header">
      <div mat-card-avatar class="headshot"></div>
      <mat-card-content class="about-me-desc">
        <p>
          I am a {{getAge()}}-year-old guy who loves the cutting-edge of technology. Tech is evolving around us, quicker
          and quicker. Advances in technology have made so many things in the world easier to do, and made the
          impossible possible. I love being in the field of making the world a better place through innovative
          technologies. I mostly
          enjoy developing software that other people will use to make their lives better and aid them throughout their
          day. That is the main attraction to software development for me; making things that others enjoy and find
          useful.
        </p>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
</div>
<h2>Things</h2>
<div class="row">
  <mat-card class="things-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <h3><fa-icon [icon]="['fas','car']"></fa-icon> Car</h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h4>Tesla Model 3</h4>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Owning a Tesla has been a dream-come-true for me. Autonomous, electric cars are the future. I am proud to be an
        early part of that future.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="//www.tesla.com/referral/jaxon24932" target="_blank"
        matTooltip="Get $500 Off & 3 months of FSD Beta">Referral
        Link</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="things-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <h3><fa-icon [icon]="['fas','mobile-alt']"></fa-icon> Phone</h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h4>Google Pixel 8 Pro</h4>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>I am a big Android guy and this phone has simply been the best I have ever owned. Google provides the best comprehensive set of features in a phone.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="things-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <h3><fa-icon [icon]="['fas','desktop']"></fa-icon> Computer</h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h4>Megatron</h4>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Built in early 2021 and armed with a Ryzen 7 5800X and RTX 3080, it handles
        everything I throw at it.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="//pcpartpicker.com/b/Gdykcf" target="_blank" matTooltip="See full specs">View
        Build</a>
    </mat-card-actions>
  </mat-card>
</div>
<h2>Experience</h2>
<div class="row">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="volgistics-header-image"></div>
      <mat-card-title><h3>Software Developer</h3></mat-card-title>
      <mat-card-subtitle>Volgistics, Byron Center, MI</mat-card-subtitle>
      <mat-card-subtitle>Jul 2017 - Present <i>({{yearsAtVolgistics}} years)</i></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
      The Volgistics team is a group of dedicated volunteer management and information technology professionals who
      enjoy helping
      volunteer leaders achieve their missions through the use of technology. 
      </p>
      <br>
      <p>
      My role as a software developer here is to
      create and ship a fantastic product. In my years here, I have written internal tools from the ground up as well as
      introduced completely redone customer-facing products using the Angular framework; most notably the VicNet volunteer
      portal. VicNet and the VicTouch time clock are now also native apps on Android and iOS.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="row">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="configura-header-image"></div>
      <mat-card-title><h3>Application Consultant Intern</h3></mat-card-title>
      <mat-card-subtitle>Configura, Grand Rapids, MI</mat-card-subtitle>
      <mat-card-subtitle>Jun 2015 - Sep 2015 &amp; May 2016 - Sep 2016 <i>(9 months)</i></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Gaining real-world software development experience by working on CETDesigner, a piece of intelligent, highly
        visual and intuitive
        space-planning software that simplifies specifying and selling of products in a variety of industries. CET is
        written
        with Configura's own programming language, CM.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<h2>Education</h2>
<div class="row">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="gvsu-header-image"></div>
      <mat-card-title><h3>Bachelor of Science in Computer Science</h3></mat-card-title>
      <mat-card-subtitle>Grand Valley State University, Allendale, MI</mat-card-subtitle>
      <mat-card-subtitle>2013 - 2017 <i>(4 years)</i></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I completed my undergraduate education in 4 years, preparing myself for a career in programming and software
        development.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-chip-listbox>
        <mat-chip>
          <fa-icon [icon]="['fas', 'balance-scale']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;3.5 GPA
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'newspaper']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;1 Publication
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-actions>
  </mat-card>
</div>
<h2>Knowledge</h2>
<div class="row">
  <mat-card appearance="outlined" style="width: 100%;">
    <mat-card-content>
      <h4>Languages</h4>
      <mat-chip-listbox>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;TypeScript
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'js-square']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;JavaScript
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'python']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Python
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Delphi
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'java']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Java
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Swift
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'html5']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;HTML
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;YAML
        </mat-chip>
      </mat-chip-listbox>
      <h4>Web Frameworks</h4>
      <mat-chip-listbox>
        <mat-chip>
          <fa-icon [icon]="['fab', 'angular']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Angular
        </mat-chip>
      </mat-chip-listbox>
      <h4>Databases</h4>
      <mat-chip-listbox>
        <mat-chip>
          <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Firebase
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;BTrieve
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;MySQL
        </mat-chip>
      </mat-chip-listbox>
      <h4>Version Control</h4>
      <mat-chip-listbox>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Git
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'gitlab']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;GitLab
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'github']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;GitHub
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Subversion
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Perforce
        </mat-chip>
      </mat-chip-listbox>
      <h4>Platforms</h4>
      <mat-chip-listbox>
        <mat-chip>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Web
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Android
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Windows
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'linux']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Linux
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'apple']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;iOS
        </mat-chip>
      </mat-chip-listbox>
      <h4>IDEs</h4>
      <mat-chip-listbox>
        <mat-chip>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Visual Studio Code
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Android Studio
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Intellij IDEA
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Emacs
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;RAD Studio
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'apple']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;XCode
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>
</div>
