<h1>{{getTimeGreeting()}}. My name is Jaxon.</h1>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header class="about-me-card-header">
        <div mat-card-avatar class="headshot"></div>
        <mat-card-content class="about-me-desc"> 
          I am a {{getAge()}}-year-old guy who loves the cutting-edge of technology. Tech is evolving around us, quicker
          and quicker. Advances in technology have made so many things in the world easier to do, and made the
          impossible possible. I love being in the field of making the world a better place through innovative
          technologies. I mostly
          enjoy developing software that other people will use to make their lives better and aid them throughout their
          day. That is the main attraction to software development for me; making things that others enjoy and find
          useful.
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<h2>Things</h2>
<div class="row">
  <div class="col-md-4 mb-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="['fas','car']"></fa-icon> Car
        </mat-card-title>
        <mat-card-subtitle>
          Tesla Model 3
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Owning a Tesla has been a dream-come-true for me. Autonomous, electric cars are the future. I am proud to be an
        early part of that future.
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="//tesla.jaxonwright.com" target="_blank"
          matTooltip="Get 1,000 Miles of Free Supercharging">Referral
          Link</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4 mb-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="['fas','mobile-alt']"></fa-icon> Phone
        </mat-card-title>
        <mat-card-subtitle>
          Google Pixel 7 Pro
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        I am a big Android guy and this phone has simply been the best I have ever owned. Google provides the best comprehensive set of features in a phone.
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="['fas','desktop']"></fa-icon> Computer
        </mat-card-title>
        <mat-card-subtitle>
          Megatron
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Built in early 2021 and armed with a Ryzen 7 5800X and RTX 3080, it handles
        everything I throw at it.
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="//pcpartpicker.com/b/Gdykcf" target="_blank" matTooltip="See full specs">View
          Build</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<h2>Experience</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="volgistics-header-image"></div>
        <mat-card-title>Software Developer</mat-card-title>
        <mat-card-subtitle>Volgistics, Byron Center, MI</mat-card-subtitle>
        <mat-card-subtitle>Jul 2017 - Present <i>({{yearsAtVolgistics}} years)</i></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        The Volgistics team is a group of dedicated volunteer management and information technology professionals who
        enjoy helping
        volunteer leaders achieve their missions through the use of technology. I help maintain and develop this service
        to help provide a powerful tool for volunteer organizations. Volgistics is written using Delphi and transformed
        into
        a web application.
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="configura-header-image"></div>
        <mat-card-title>Application Consultant Intern</mat-card-title>
        <mat-card-subtitle>Configura, Grand Rapids, MI</mat-card-subtitle>
        <mat-card-subtitle>Jun 2015 - Sep 2015 &amp; May 2016 - Sep 2016 <i>(9 months)</i></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Gaining real-world software development experience by working on CETDesigner, a piece of intelligent, highly
        visual and intuitive
        space-planning software that simplifies specifying and selling of products in a variety of industries. CET is
        written
        with Configura's own programming language, CM.
      </mat-card-content>
    </mat-card>
  </div>
</div>
<h2>Education</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="gvsu-header-image"></div>
        <mat-card-title>Bachelor of Science in Computer Science</mat-card-title>
        <mat-card-subtitle>Grand Valley State University, Allendale, MI</mat-card-subtitle>
        <mat-card-subtitle>2013 - 2017 <i>(4 years)</i></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        I completed my undergraduate education in 4 years, preparing myself for a career in programming and software
        development.
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip>
            <fa-icon [icon]="['fas', 'balance-scale']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
            </fa-icon>
            &nbsp;3.5 GPA
          </mat-chip>
          <mat-chip>
            <fa-icon [icon]="['fas', 'newspaper']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
            </fa-icon>
            &nbsp;1 Publication
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<h2>Knowledge</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <p>Here are some technologies that I have used before and know how to use. I am better with some more than others.
      </p>
      <h4>Languages</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fab', 'java']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Java
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Delphi
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;C++
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;C
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'python']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Python
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Swift
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'html5']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;HTML
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'css3-alt']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;CSS
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;TypeScript
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'js-square']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;JavaScript
        </mat-chip>
      </mat-chip-list>
      <h4>Web Frameworks</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fab', 'angular']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Angular
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'ember']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Ember
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Polymer
        </mat-chip>
      </mat-chip-list>
      <h4>Databases</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Firebase
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;BTrieve
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'database']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;MySQL
        </mat-chip>
      </mat-chip-list>
      <h4>Version Control</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Git
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Subversion
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Perforce
        </mat-chip>
      </mat-chip-list>
      <h4>Platforms</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Web
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Android
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Windows
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'apple']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;iOS
        </mat-chip>
      </mat-chip-list>
      <h4>IDEs</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;Visual Studio Code
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Android Studio
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Intellij IDEA
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Emacs
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Delphi XE5
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'apple']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;XCode
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
