img.title-img {
    height: 40px;
}

.mat-card-avatar {
    height: 80px;
    width: 80px;
}
.tallyup-header-image {
    background-image: url('../../../assets/img/apps/tallyup_green.png');
    background-size: cover;
}
.pixbar-header-image {
    background-image: url('../../../assets/img/apps/pixbar.png');
    background-size: cover;
}
.xpaper-header-image {
    background-image: url('../../../assets/img/apps/xpaper.png');
    background-size: cover;
}
.nowpaper-header-image {
    background-image: url('../../../assets/img/apps/nowPaper.png');
    background-size: cover;
}