<h1>Build Info.</h1>
<div class="row">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <h3>Build</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let dep of buildInfo">
          <fa-icon matListItemAvatar [icon]="dep.icon"></fa-icon>
          <h3 matListItemTitle>{{dep.name}}</h3>
          <a [href]="dep.link" matListItemLine>{{dep.version}}</a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <h3>Dependencies</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let dep of dependencies">
          <fa-icon matListItemAvatar [icon]="dep.icon"></fa-icon>
          <h3 matListItemTitle>{{dep.name}}</h3>
          <a [href]="dep.link" matListItemLine>{{dep.version}}</a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>