/* You can add global styles to this file, and also import other style files */

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

html {
  overflow-y: overlay;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.row {
  margin-top: 8px;
}

a {
  color: #0abe70;
}

.qr>img {
  width: 300px;
}

/***
 * Scrollbar 
 ***/

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #262626;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(31, 31, 31);
}
