@use '@angular/material' as mat;
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.all-component-typographies();
@include mat.core();

$mat-black: (
    50: #000000,
    100: #000000,
    500: #000000,
    700: #000000,
    contrast: (
        50: white,
        100: white,
        500: white,
        700: white
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$light-app-primary: mat.define-palette(mat.$grey-palette, 900);
$light-app-accent:  mat.define-palette(mat.$green-palette, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$light-app-theme: mat.define-light-theme((
  color: (
    primary: $light-app-primary,
    accent: $light-app-accent, 
    warn: $app-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$dark-app-primary: mat.define-palette(mat.$grey-palette, 50);
$dark-app-accent:  mat.define-palette(mat.$green-palette, A400);
$dark-app-theme: mat.define-dark-theme((
  color: (
    primary: $dark-app-primary,
    accent: $dark-app-accent, 
    warn: $app-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$black-app-primary: mat.define-palette($mat-black, 50);
$black-app-accent:  mat.define-palette(mat.$green-palette, A400);
$black-app-theme: mat.define-dark-theme((
  color: (
    primary: $black-app-primary,
    accent: $black-app-accent, 
    warn: $app-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.core-theme($light-app-theme);
@include mat.toolbar-theme($light-app-theme);
@include mat.button-theme($light-app-theme);
@include mat.icon-button-theme($light-app-theme);
@include mat.fab-theme($light-app-theme);
@include mat.card-theme($light-app-theme);
@include mat.tooltip-theme($light-app-theme);
@include mat.divider-theme($light-app-theme);
@include mat.chips-theme($light-app-theme);
@include mat.dialog-theme($light-app-theme);
@include mat.form-field-theme($light-app-theme);
@include mat.input-theme($light-app-theme);
@include mat.snack-bar-theme($light-app-theme);
@include mat.list-theme($light-app-theme);
@include mat.menu-theme($light-app-theme);
@include mat.icon-theme($light-app-theme);

.black-theme {
  @include mat.core-color($black-app-theme);
  @include mat.toolbar-color($black-app-theme);
  @include mat.button-color($black-app-theme);
  @include mat.icon-button-color($black-app-theme);
  @include mat.fab-color($black-app-theme);
  @include mat.card-color($black-app-theme);
  @include mat.tooltip-color($black-app-theme);
  @include mat.divider-color($black-app-theme);
  @include mat.chips-color($black-app-theme);
  @include mat.dialog-color($black-app-theme);
  @include mat.form-field-color($black-app-theme);
  @include mat.input-color($black-app-theme);
  @include mat.snack-bar-color($black-app-theme);
  @include mat.list-color($black-app-theme);
  @include mat.menu-color($black-app-theme);
  @include mat.icon-color($black-app-theme);

  .mat-app-background,
  .mat-toolbar { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-card { background-color: #1a1a1a; color: rgb(236, 236, 236) }
  .mat-menu-panel { background-color: #1a1a1a; color: rgb(236, 236, 236) }
  .mat-dialog-container { background-color: #1a1a1a; color: rgb(236, 236, 236) }
}

.dark-theme {
  @include mat.core-color($dark-app-theme);
  @include mat.toolbar-color($dark-app-theme);
  @include mat.button-color($dark-app-theme);
  @include mat.icon-button-color($dark-app-theme);
  @include mat.fab-color($dark-app-theme);
  @include mat.card-color($dark-app-theme);
  @include mat.tooltip-color($dark-app-theme);
  @include mat.divider-color($dark-app-theme);
  @include mat.chips-color($dark-app-theme);
  @include mat.dialog-color($dark-app-theme);
  @include mat.form-field-color($dark-app-theme);
  @include mat.input-color($dark-app-theme);
  @include mat.snack-bar-color($dark-app-theme);
  @include mat.list-color($dark-app-theme);
  @include mat.menu-color($dark-app-theme);
  @include mat.icon-color($dark-app-theme);
  @include mat.sidenav-color($dark-app-theme);
}

.light-theme {
  @include mat.core-color($light-app-theme);
  @include mat.toolbar-color($light-app-theme);
  @include mat.button-color($light-app-theme);
  @include mat.icon-button-color($light-app-theme);
  @include mat.fab-color($light-app-theme);
  @include mat.card-color($light-app-theme);
  @include mat.tooltip-color($light-app-theme);
  @include mat.divider-color($light-app-theme);
  @include mat.chips-color($light-app-theme);
  @include mat.dialog-color($light-app-theme);
  @include mat.form-field-color($light-app-theme);
  @include mat.input-color($light-app-theme);
  @include mat.snack-bar-color($light-app-theme);
  @include mat.list-color($light-app-theme);
  @include mat.menu-color($light-app-theme);
  @include mat.icon-color($light-app-theme);
}
