@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.all-component-typographies();
@include mat.core();

$light-app-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
  )
));

$dark-app-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$green-palette,
  )
));

$black-app-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$green-palette,
  )
));

html {
  @include mat.core-theme($light-app-theme);
  @include mat.toolbar-theme($light-app-theme);
  @include mat.button-theme($light-app-theme);
  @include mat.icon-button-theme($light-app-theme);
  @include mat.fab-theme($light-app-theme);
  @include mat.card-theme($light-app-theme);
  @include mat.tooltip-theme($light-app-theme);
  @include mat.divider-theme($light-app-theme);
  @include mat.chips-theme($light-app-theme);
  @include mat.dialog-theme($light-app-theme);
  @include mat.form-field-theme($light-app-theme);
  @include mat.input-theme($light-app-theme);
  @include mat.snack-bar-theme($light-app-theme);
  @include mat.list-theme($light-app-theme);
  @include mat.menu-theme($light-app-theme);
  @include mat.icon-theme($light-app-theme);
}

.black-theme {
  @include mat.core-color($black-app-theme);
  @include mat.toolbar-color($black-app-theme);
  @include mat.button-color($black-app-theme);
  @include mat.icon-button-color($black-app-theme);
  @include mat.fab-color($black-app-theme);
  @include mat.card-color($black-app-theme);
  @include mat.tooltip-color($black-app-theme);
  @include mat.divider-color($black-app-theme);
  @include mat.chips-color($black-app-theme);
  @include mat.dialog-color($black-app-theme);
  @include mat.form-field-color($black-app-theme);
  @include mat.input-color($black-app-theme);
  @include mat.snack-bar-color($black-app-theme);
  @include mat.list-color($black-app-theme);
  @include mat.menu-color($black-app-theme);
  @include mat.icon-color($black-app-theme);

  .mat-app-background,
  .mat-toolbar { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-card { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-menu-panel { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-dialog-container .mdc-dialog__surface { background-color: #000000; color: rgb(236, 236, 236) }
}

.dark-theme {
  @include mat.core-color($dark-app-theme);
  @include mat.toolbar-color($dark-app-theme);
  @include mat.button-color($dark-app-theme);
  @include mat.icon-button-color($dark-app-theme);
  @include mat.fab-color($dark-app-theme);
  @include mat.card-color($dark-app-theme);
  @include mat.tooltip-color($dark-app-theme);
  @include mat.divider-color($dark-app-theme);
  @include mat.chips-color($dark-app-theme);
  @include mat.dialog-color($dark-app-theme);
  @include mat.form-field-color($dark-app-theme);
  @include mat.input-color($dark-app-theme);
  @include mat.snack-bar-color($dark-app-theme);
  @include mat.list-color($dark-app-theme);
  @include mat.menu-color($dark-app-theme);
  @include mat.icon-color($dark-app-theme);
  @include mat.sidenav-color($dark-app-theme);
}

.light-theme {
  @include mat.core-color($light-app-theme);
  @include mat.toolbar-color($light-app-theme);
  @include mat.button-color($light-app-theme);
  @include mat.icon-button-color($light-app-theme);
  @include mat.fab-color($light-app-theme);
  @include mat.card-color($light-app-theme);
  @include mat.tooltip-color($light-app-theme);
  @include mat.divider-color($light-app-theme);
  @include mat.chips-color($light-app-theme);
  @include mat.dialog-color($light-app-theme);
  @include mat.form-field-color($light-app-theme);
  @include mat.input-color($light-app-theme);
  @include mat.snack-bar-color($light-app-theme);
  @include mat.list-color($light-app-theme);
  @include mat.menu-color($light-app-theme);
  @include mat.icon-color($light-app-theme);
}
