@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-black: (
    50: #000000,
    contrast: (
        50: white
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$light-app-primary: mat-palette($mat-grey, 900);
$light-app-accent:  mat-palette($mat-green, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-app-theme: mat-light-theme($light-app-primary, $light-app-accent, $app-warn);


$dark-app-primary: mat-palette($mat-grey, 50);
$dark-app-accent:  mat-palette($mat-green, A400);
$dark-app-theme: mat-dark-theme($dark-app-primary, $dark-app-accent, $app-warn);

$black-app-primary: mat-palette($mat-black, 50);
$black-app-accent:  mat-palette($mat-green, A400);
$black-app-theme: mat-dark-theme($black-app-primary, $black-app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-app-theme);

.black-theme {
  @include angular-material-theme($black-app-theme);
  .mat-app-background,
  .mat-toolbar { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-card { background-color: #1a1a1a; color: rgb(236, 236, 236) }
  .mat-menu-panel { background-color: #1a1a1a; color: rgb(236, 236, 236) }
  .mat-dialog-container { background-color: #1a1a1a; color: rgb(236, 236, 236) }
}

.dark-theme {
  @include angular-material-theme($dark-app-theme);
}

.light-theme {
  @include angular-material-theme($light-app-theme);
}
