<h1>{{getTimeGreeting()}}. My name is Jaxon.</h1>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="headshot"></div>
        <p>
            I am somebody who loves the cutting-edge of technology. Tech is evolving around us, quicker and quicker. Advances
            in technology have made so many things in the world easier to do, and made the impossible possible. I look forward
            to being able to be in the field of making the world a better place through innovative technologies. I mostly
            enjoy developing software that other people will use to make their lives better and aid them throughout their
            day. That is the main attraction to software development for me; making things that others enjoy and find useful.
        </p>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<h2>Education</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="gvsu-header-image"></div>
        <mat-card-title>Bachelor of Science in Computer Science</mat-card-title>
        <mat-card-subtitle>Grand Valley State University, Allendale, MI</mat-card-subtitle>
        <mat-card-subtitle>2013 - 2017</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        I completed my undergraduate education in 4 years, preparing myself for a career in programming and software development.
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip>
            <i class="fas fa-balance-scale fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
            &nbsp;3.5 GPA
          </mat-chip>
          <mat-chip>
            <i class="fas fa-newspaper fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
            &nbsp;1 Publication
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<h2>Experience</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="volgistics-header-image"></div>
        <mat-card-title>Software Developer</mat-card-title>
        <mat-card-subtitle>Volgistics, Byron Center, MI</mat-card-subtitle>
        <mat-card-subtitle>Jul 2017 - Present</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        The Volgistics team is a group of dedicated volunteer management and information technology professionals who enjoy helping
        volunteer leaders achieve their missions through the use of technology. I help maintain and develop this service
        to help provide a powerful tool for volunteer organizations. Volgistics is written using Delphi and transformed into
        a web application.
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="configura-header-image"></div>
        <mat-card-title>Application Consultant Intern</mat-card-title>
        <mat-card-subtitle>Configura, Grand Rapids, MI</mat-card-subtitle>
        <mat-card-subtitle>Jun 2015 - Sep 2015 &amp; May 2017 - Sep 2016</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Gaining real-world software development experience by working on CETDesigner, a piece of intelligent, highly visual and intuitive
        space-planning software that simplifies specifying and selling of products in a variety of industries. CET is written
        with Configura's own programming language, CM.
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="dunrite-header-image"></div>
        <mat-card-title>Independent Android Developer</mat-card-title>
        <mat-card-subtitle>dunrite apps, Grand Rapids, MI</mat-card-subtitle>
        <mat-card-subtitle>2013 - Present</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Since my senior year in high school, I have been developing Android applications in my freetime. I am very passionate about
        the Android platform and love contributing to the huge community that it has.
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
<h2>Knowledge</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <p>Here are some technologies that I have used before and know how to use. I am better with some more than others.</p>
      <h4>Languages</h4>
      <mat-chip-list>
        <mat-chip>
          <i class="fab fa-java fa-lg" data-fa-transform="shrink-7.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Java
        </mat-chip>
        <mat-chip>
          <i class="fas fa-code fa-lg" data-fa-transform="shrink-7.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Delphi
        </mat-chip>
        <mat-chip>
          <i class="fas fa-code fa-lg" data-fa-transform="shrink-7.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;C++
        </mat-chip>
        <mat-chip>
          <i class="fas fa-code fa-lg" data-fa-transform="shrink-7.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;C
        </mat-chip>
        <mat-chip>
          <i class="fab fa-python fa-lg" data-fa-transform="shrink-7.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Python
        </mat-chip>
        <mat-chip>
          <i class="fas fa-code fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Swift
        </mat-chip>
        <mat-chip>
          <i class="fab fa-html5 fa-lg" data-fa-transform="shrink-7.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;HTML
        </mat-chip>
        <mat-chip>
          <i class="fab fa-css3-alt fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;CSS
        </mat-chip>
        <mat-chip>
          <i class="fas fa-code fa-lg" data-fa-transform="shrink-7.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;TypeScript
        </mat-chip>
        <mat-chip>
          <i class="fab fa-js-square fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;JavaScript
        </mat-chip>
      </mat-chip-list>
      <h4>Web Frameworks</h4>
      <mat-chip-list>
        <mat-chip>
          <i class="fab fa-angular fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Angular
        </mat-chip>
        <mat-chip>
          <i class="fab fa-ember fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Ember
        </mat-chip>
        <mat-chip>
          <i class="fas fa-code fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Polymer
        </mat-chip>
      </mat-chip-list>
      <h4>Databases</h4>
      <mat-chip-list>
        <mat-chip>
          <i class="fas fa-database fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Firebase
        </mat-chip>
        <mat-chip>
          <i class="fas fa-database fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;BTrieve
        </mat-chip>
        <mat-chip>
          <i class="fas fa-database fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;MySQL
        </mat-chip>
      </mat-chip-list>
      <h4>Version Control</h4>
      <mat-chip-list>
        <mat-chip>
          <i class="fas fa-code-branch fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Git
        </mat-chip>
        <mat-chip>
          <i class="fas fa-code-branch fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Subversion
        </mat-chip>
        <mat-chip>
          <i class="fas fa-code-branch fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Perforce
        </mat-chip>
      </mat-chip-list>
      <h4>Platforms</h4>
      <mat-chip-list>
        <mat-chip>
          <i class="fas fa-mouse-pointer fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Web
        </mat-chip>
        <mat-chip>
          <i class="fab fa-android fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Android
        </mat-chip>
        <mat-chip>
          <i class="fab fa-windows fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Windows
        </mat-chip>
        <mat-chip>
          <i class="fab fa-apple fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;iOS
        </mat-chip>
      </mat-chip-list>
      <h4>IDEs</h4>
      <mat-chip-list>
        <mat-chip>
          <i class="fas fa-mouse-pointer fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Visual Studio Code
        </mat-chip>
        <mat-chip>
          <i class="fab fa-android fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Android Studio
        </mat-chip>
        <mat-chip>
          <i class="fab fa-windows fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Intellij IDEA
        </mat-chip>
        <mat-chip>
          <i class="fab fa-windows fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Emacs
        </mat-chip>
        <mat-chip>
          <i class="fab fa-windows fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;Delphi XE5
        </mat-chip>
        <mat-chip>
          <i class="fab fa-apple fa-lg" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i>
          &nbsp;XCode
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</div>
