<h1>Plex.</h1>
<p>This is the hub for everything pertaining to the Ultron Plex Server.</p>
<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Ultron Plex Requests</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Request movies and TV shows that the server will automatically look for and download.
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="http://plex.jaxonwright.com" mat-button>OPEN</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Tautulli</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Track various statistics of the server. These statistics include what has been watched, watched the most and other various
        graphs. Why? Because why not?
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="./stats" mat-button>OPEN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Ultron Plex Server</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Watch and enjoy over 700 movies and 50 TV shows.
      </mat-card-content>
      <mat-card-actions>
        <a href="https://app.plex.tv/desktop#!/server/2fa9f4fa310a5125bd357cf995be6ddc8626822e/dashboard" target="_blank"><button mat-button>OPEN</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>CineR8</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Service created by yours truly to view information about and rate movies.
        </mat-card-content>
        <mat-card-actions>
          <a href="https://ciner8.com" target="_blank"><button mat-button>OPEN</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
